<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
               
   <bean id="studentBean" class="com.demo.spring.BeanClass">
	   <property name="studentName" value="Shubham Verma"></property>
	   <property name="val1" value="23"></property>
	   <property name="val2" value="34"></property>
   </bean> 
   
   <bean id="tempBean" class="com.demo.spring.TempClass">
   		<property name="tempVar" value="temp value"></property>
   </bean>  
</beans>